@using Site.Enums
@using Site.IServico.Pedidos
@using Site.Servico.Pedidos
@model IList<Site.Entidade.Pedidos.ParteAcrescimoTipoAviamento>
@{
    ICategoriaServico categoriaServico = new CategoriaServico();
    ITipoAviamentoServico tipoAviamentoServico = new TipoAviamentoServico();

    var tipoAviamento = tipoAviamentoServico.GetAll().Where(s => s.Ativo == Status.Ativo).OrderBy(d => d.Descricao).ToList();
}

<div id="TipoAviamento" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Tipo Aviamento</h3>
    </div>
    <div class="modal-body">
        <table id="tableTipoAviamentos">
            <tbody>
                <tr>
                    <td>
                        <select id="TipoAviamentoId" name="TipoAviamento.Id" class="form-control input">
                            @{
                                <option value=""></option>
                                for (int i = 0; i < tipoAviamento.Count(); i++)
                                {
                                    <option data-value="@tipoAviamento[i].Id" value="@tipoAviamento[i].Id">@tipoAviamento[i].Descricao</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <input class="input-mini ConsumoPonto" type="text" id="consumoAviamento" placeholder="">
                    </td>
                    <td>
                        <button class="btn glyphicon-class" id="adicionarTipoAviamento" style="margin-top: -10px">+</button>
                    </td>
                </tr>
                
                @{
                    foreach (var item in Model)
                    {
                        <tr class='tipoAviamento'><td class='aviamento'>@item.TipoAviamento.Descricao </td><td class='consumo'>@item.ConsumoAviamento.ToString("N").Replace(',', '.')</td><td class='idT' style='display:none'></td><td class='idAv' style='display:none'>@item.TipoAviamento.Id</td><td class='id' style='display:none'>@item.Id</td><td><a onclick='RemoveTipoAviamento(this)'>Remover</a></td></tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Incluir</button>
    </div>
</div>