@using Site.IServico.Pedidos
@using Site.Servico.Pedidos
@{
    IProdutoServico produtoServico = new ProdutoServico();
    ITecidoServico tecidoServico = new TecidoServico();

    var listaPecas =
        from peca in produtoServico.GetAll()
        select new { peca.Peca.Id, peca.Peca.Descricao };
    var pecas = listaPecas.Distinct().OrderBy(x => x.Descricao).ToList();

    var listaTipoTecido = from tecido in tecidoServico.GetAll()
                          select new { tecido.TipoTecido.Id, tecido.TipoTecido.Descricao };
    var tecidos = listaTipoTecido.Distinct().OrderBy(x => x.Descricao).ToList();
}
<table width="100%">
    <tbody>
        <tr>
            <th>
                <div style="text-align: center;"><span class="label label-primary">Produto</span></div>
            </th>
            <th>
                <div style="text-align: center;"><span class="label label-primary">Itens</span></div>
            </th>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%">
                    <tbody>
                        <tr>
                            <td width="5%">
                                <div class="form-group">
                                    <label>
                                        Qtde
                                    </label>
                                    <input type="text" id="qtdeProduto" name="Quantidade" class="sonumero form-control inputRequiredProduto" style="width: 45px">
                                </div>
                            </td>
                            <td width="9%">
                                <div class="form-group">
                                    <label>
                                        Peça
                                    </label>
                                    <select name="PedidoProduto.Peca" id="PedidoProdutoPeca" class="form-control inputRequiredProduto" style="width: 100px">
                                        <option value="0"></option>
                                        @{
                                            foreach (var peca in pecas)
                                            {
                                                <option value="@peca.Id">
                                                    @peca.Descricao
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                            <td width="9%">
                                <div class="form-group">
                                    <label>
                                        Modelo
                                    </label>
                                    <select name="PedidoProduto.Modelo" id="PedidoProdutoModelo" class="form-control inputRequiredProduto" style="width: 100px">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            </td>
                            <td width="9%">
                                <div class="form-group">
                                    <label>
                                        Masc/fem
                                    </label>
                                    <select name="PedidoProduto.MasculinoFeminino" id="PedidoProdutoMasculinoFeminino" class="form-control inputRequiredProduto" style="width: 100px">
                                        <option value="0"></option>
                                        <option value="1">MASCULINO</option>
                                        <option value="2">FEMININO</option>
                                    </select>
                                </div>
                            </td>
                            <td width="9%">
                                <div class="form-group">
                                    <label>
                                        Tecido
                                    </label>
                                    <select name="PedidoProduto.Tecido" id="PedidoProdutoTecido" class="form-control inputRequiredProduto" style="width: 100px">
                                        <option value="0"></option>
                                        @{
                                            foreach (var tecido in tecidos)
                                            {
                                                <option value="@tecido.Id">
                                                    @tecido.Descricao
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                            <td width="9%">
                                <div class="form-group">
                                    <label>
                                        Cor
                                    </label>
                                    <select name="PedidoProduto.Tecido.Cor" id="PedidoProdutoTecidoCor" class="form-control inputRequiredProduto" style="width: 100px">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            </td>
                            <td width="9%">
                                <div class="form-group">
                                    <label>
                                        Codigo
                                    </label>
                                    <select name="PedidoProduto.Tecido.Codigo" id="PedidoProdutoTecidoCodigo" class="form-control inputRequiredProduto" style="width: 100px">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            </td>
                            <td width="9%">
                                <a href="#" class="btn btn-default" data-toggle="modal" data-target="#Modal_Fornecedores" onclick="" style="margin-top:15px">Fornecedores</a>
                            </td>
                            <td>
                                @Html.Partial("_BotaoPartes")
                            </td>
                            <td>
                                @Html.Partial("_BotaoAcrescimos")
                            </td>
                            <td width="9%">
                                <a href="#" class="btn btn-default" data-toggle="modal" data-target="#Modal_Tamanhos" onclick="" style="margin-top:15px">Nº</a>
                            </td>
                            <td width="6%">
                                <div class="form-group">
                                    <label>
                                        Preço
                                    </label>
                                    <input type="text" id="precoProduto" name="Valor" class="form-control inputRequiredProduto" style="width: 70px" />
                                </div>
                            </td>
                            <td width="8%">
                                <div class="form-group">
                                    <label>
                                        Obs
                                    </label>
                                    <input type="text" id="obsProduto" name="Obs" class="form-control" style="width: 160px" />
                                </div>
                            </td>
                            <td>
                                <button id="BtnIncluirProduto" type="button" class="btn btn-primary" style="margin-top:15px;">
                                    Incluir
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

@Html.Partial("_ModalFornecedores")
@Html.Partial("_ModalPartes")
@Html.Partial("_ModalAcrescimos")
@Html.Partial("_ModalTamanhos")

