@using Site.Enums
@model Site.Entidade.Pedidos.Modelo

<div class="span12" style="margin-left: 50px;">
    <legend>Modelo</legend>
    <div>
        <div class="container">@Html.Partial("../Shared/_Mensagem")</div>
    </div>
    
    @using (Html.BeginForm("Create", "Modelo"))
{
    @Html.HiddenFor(model => model.Id)
    <table>
        <tr>
            <td>
                <div style="margin-bottom: 5px" class="editor-label">
                    @if (Model.Id > 0)
                    {
                        <span class="label label-warning">Descrição do Modelo</span>
                    }
                    else
                    {
                        <span class="label label-info">Descrição do Modelo</span>
                    }
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Descricao)
                </div>
            </td>
            <td>
                @{
    var status = new List<SelectListItem>
                        {
                            new SelectListItem {Text = "Ativo", Value = Status.Ativo.ToString()},
                            new SelectListItem {Text = "Inativo", Value = Status.Inativo.ToString()}
                        };
                        @Html.DropDownListFor(m => m.Ativo, status, new { style = "margin-top: 25px" })
                }
            </td>
            <td>
                @if (Model.Id > 0)
                {
                    <button style="margin-top: 15px" type="submit" class="btn btn-warning" style="margin-top: -10px">
                        Editar
                    </button>
                }
                else
                {
                    <button style="margin-top: 15px" type="submit" class="btn btn-primary" style="margin-top: -10px">
                        Cadastrar
                    </button>
                }
            </td>
        </tr>
    </table>
}

    @Html.Partial("_ListarModelos")
</div>